.time {
    text-align: center;
    padding: 32px;
    background-color: #962B09;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid #fff;
    display: inline-block;
    padding-bottom: 8px;
}